{% extends 'selection/base_modal.html' %}
{% load widget_tweaks %}
{% block fields %}
<p>Hi</p>
{% endblock %} 
{% block submit_button %}
<button type="submit" class="btn btn-success btn-block">
    <i class="fa fa-save"></i> Save</button>
{% endblock %}