{% extends 'base2.html' %} 
{% load staticfiles %}
{% block content %}
<div class='container' style="padding-top: 40px;">
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="alert-heading">Good {{ greetings }}, {{ request.user.first_name }}!</h4>
        <p>Welcome to the DDR Fantasy Admin Page!
        <hr>
        <blockquote class="blockquote" align='right'>
            <p>
                <blockquote class="blockquote">
                    <p class="mb-0">"With great power comes great responsibility."</p>
                    <footer class="blockquote-footer">Uncle Ben
                        <cite title="Source Title">(Spiderman 2002)</cite>
                    </footer>
                </blockquote>
            </p>
            <footer class="blockquote-footer">Neil 2012E
                <cite title="Source Title">(2018)</cite>
            </footer>
        </blockquote>
    </div>
    <div class="row" style='padding-bottom: 15px'>
        <div class="col-md-3 offset-md-9">
            <button onclick="ajaxButton('{% url 'admin-release-results' %}')" class="btn btn-success">
                <center>
                    Release Results
                </center>
            </button>
            <button onclick="ajaxButton('{% url 'admin-new-week' %}')" class="btn btn-primary">
                <center>
                    New Week
                </center>
            </button>
        </div>
    </div>
    <div class='card bg-light mb-3'>
        <div class="card-header"><h3>Players</h3></div>
        <div class='body'>
            <div class="table-responsive" style="font-size: small;">
                <table id="players_table" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Display Photo</th>
                            <th>Name</th>
                            <th>Team</th>
                            <th>Position</th>
                            <th>Price</th>
                            <th>FPG</th>
                            <th>Fantasy score</th>
                        </tr>
                    </thead>
                    {% for player in players %}
                    <tr>
                        <td><img width="40em" class="rounded-circle" src="{{ player.photo.url }}" alt=""></td>
                        <td>{{ player.name }}</td>
                        <td>{{ player.team.name }}</td>
                        <td>{{ player.position }}</td>
                        <td contenteditable="true" name='price' class="{% url 'admin-edit-player' player.id %}">{{ player.price }}</td>
                        <td contenteditable="true" name='fpg' class="{% url 'admin-edit-player' player.id  %}">{{ player.fpg }}</td>
                        <td contenteditable="true" name='fantasy_score' class="{% url 'admin-edit-player' player.id %}">{{ player.fantasy_score }}</td>
                    </tr>
                    {% endfor %} {% if count >= 10 %}
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Team</th>
                            <th>Position</th>
                            <th>Price</th>
                            <th>FPG</th>
                            <th>Fantasy score</th>
                        </tr>
                    </tfoot>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('table td').keyup(function() {
        var url = $(this).attr('class');
        var field = $(this).attr('name');
        var value = $(this).html();
        console.log(url, field, value);
        clearTimeout($.data(this, 'timer'));
        var wait = setTimeout(saveData(url, field, value), 500);
        $(this).data('timer', wait);
    });
    function saveData(url, field, value) {
        $.ajax({
            type: "POST",
            url: url,
            data: {
                'field': field,
                'value': value,
            },
            success: function (result) {
                console.log('typing...');
            },
            error: function (result) {
                alert('Error');
            }
        });
    }
    function ajaxButton(url) {
        $.ajax({
            type: "POST",
            url: url,
            data: {
                'process': 'OK'
            },
            success: function (result) {
                console.log('Success!');
                alert("Okay!")
            },
            error: function (result) {
                alert('Error');
            }
        });
    }
</script>
{% endblock %} 

