{% if form.non_field_errors or form.errors %}
<div class="alert alert-danger">
    {{ form.non_field_errors }}
    <ul>
        {% for field in form %}
        {% if field.errors %}
        <li>{{ field.label }} : {{ field.errors|striptags }}</li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<form class="form-horizontal mod-form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% block fields %}
    {% endblock %}
    <div class="form-group" style="margin-bottom:0px">
        <div class="col-sm-offset-6 col-sm-3">
            <button type="button" data-dismiss="modal" class="btn btn-default btn-block">Cancel</a>
        </div>
        <div class="col-sm-3">
        	{% block submit_button %}{% endblock %}
        </div>
    </div>
</form>
