{% extends ajax_base.html' %} 
{% load widget_tweaks %} 
{% block fields %}
<div class="form-horizontal">
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <!-- <div class="form-group"> -->
                <div class="col-xs-offset-1">
                    <label for="id_service">Service:</label>
                    <select class="form-control" style="width: 100%;" name="service" required id="id_service">
                        <option value="DIPS">Domestic Invesment Promotion Service (DIPS)</option>
                        <option value="FAS">Finance and Administrative Service (FAS)</option>
                        <option value="IS">Incentives Services (IS)</option>
                        <option value="ISIS">Infrastructure and Services Industries Service (ISIS)</option>
                        <option value="IIPS">International Investments Promotion Service (IIPS)</option>
                        <option value="IPPS">Investment Policy and Planning Service (IPPS)</option>
                        <option value="LICS">Legal and Investments Compliance Service (LICS)</option>
                        <option value="MIS">Manufacturing Industries Service (MIS)</option>
                        <option value="RBIS">Resource-Based Industries Service (RBIS)</option>
                    </select>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <div class="col-sm-12">
                    <label for="id_subservice">Subservice:</label>
                    <input class="form-control" style="width: 100%" type="text" name="subservice" maxlength="140" required id="id_subservice"
                    />
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>

{% endblock %} {% block submit_button %}
<button type="submit" class="btn btn-success btn-block">
    <i class="fa fa-save"></i> Save</button>
{% endblock %}