{% extends 'base2.html'%}
{% load staticfiles %} 
{% load widget_tweaks %}
{% block content %}
<div class='container-fluid' style="text-align: center;">
<h4 class="my-4 text-center">
    Ooooh! Something bad happened!<br>
</h4>
    <h4 class='text-center'>
        <button onclick="location.replace('/')" type='submit' class='btn btn-dark'style="margin-top:0%;">
            Draft your players!
        </button>
    </h4>

</div>
{% endblock %}