{% extends 'base2.html'%}
{% load staticfiles %} 
{% load widget_tweaks %}
{% block content %}
<div class="container-fluid" style="text-align: center;">
    <h3 class="my-4 text-center">
        Lineup
    </h3>
    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-4 text-center">
            PG<br>
                <img onclick="editButton('PG', '{% url 'list-of-players' 'PG' %}' )"width="100em" class="rounded-circle center-block" src="{{ pg.photo.url }}" alt=""><br>
            <strong>{{ pg.name }}</strong>
        </div>
        <div class="col-4 text-center">
            SG<br>
                <img onclick="editButton('SG', '{% url 'list-of-players' 'SG' %}' )"width="100em" class="rounded-circle center-block" src="{{ sg.photo.url }}" alt=""><br>
            <strong>{{ sg.name }}</strong>
        </div>
        <div class="col-2">
        </div>
    </div>
    <div class="row">
        <div class="col-4 text-center">
            SF<br>
                <img onclick="editButton('SF', '{% url 'list-of-players' 'SF' %}' )"width="100em" class="rounded-circle center-block" src="{{ sf.photo.url }}" alt=""><br>
            <strong>{{ sf.name }}</strong>
        </div>
        <div class="col-4 text-center">
            C<br>
                <img onclick="editButton('C', '{% url 'list-of-players' 'C' %}' )"width="100em" class="rounded-circle center-block" src="{{ c.photo.url }}" alt=""><br>
            <strong>{{ c.name }}</strong>
        </div>
        <div class="col-4 text-center">
            PF<br>
                <img onclick="editButton('PF', '{% url 'list-of-players' 'PF' %}' )" width="100em" class="rounded-circle center-block" src="{{ pf.photo.url }}" alt=""><br>
            <strong>{{ pf.name }}</strong>
        </div>
    </div>
    {% if not are_results_done %}
        <h6 class="my-4 text-center">
            <i class="fas fa-hand-point-up"></i> <i>Tap to edit</i>
        </h6>
    {% else %}
        <h6 class="my-4 text-center">
                <a href="{% url 'results' %}" class='btn btn-info' style="margin-top:0%;">
                    RESULTS ARE IN!
                </a>
        </h6>
    {% endif %}
</div>

<script type='text/javascript'>
    function editButton(position, url) {
        $.ajax({
            type: "POST",
            url: "{% url 'edit' %}",
            data: {
                'position': position
            },
            success: function (result) {
                location.href = url;
            },
            error: function (result) {
                alert('Error');
            }
        });
    }
</script>

{% endblock %}

