{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
<style>

.card-img-caption {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}
  
.card-img-caption .card-img-top {
  z-index: 0;
}
    
.card-img-caption .card-text-right {
  text-align: right;
  padding-right: 0%;
  padding-top: 0%;
  width: 100%;
  margin-left: 10% 0;
  margin-right: 10% 0; 
  position: absolute;
}

.card-img-caption .card-text-left {
  text-align: left;
  padding-left: 0%;
  padding-top: 0%;
  width: 100%;
  margin-left: 10% 0;
  margin-right: 10% 0; 
  position: absolute;
}

</style>

<div class="table-responsive">
    <table class="table">    
        <tr>
        {% for player in top_row %}
                <td>
                    <div class="card text-left 
                        {% if budget < player.price and player not in chosen_players and current_price < player.price %}
                        border-danger
                        {% endif %}
                        "
                        style="font-size: x-small; width: 16em; height:24em;">
                        <div class="card-img-caption">
                            <font size="1" class="card-text-right">{{ player.fpg }}<br>FPG</font>
                            <font size="2" class="card-text-left"><strong>&#x20B1 {{ player.price }}K</strong>
                            </font>
                            <img class="card-img-top" src="{{ player.photo.url }}" alt="Card image cap">
                        </div>
                        <div class="card-body" style="padding-left: 2%; padding-right: 2%;">
                            <h7 class="card-title" style="margin: 0px;">
                                {{ player.name }}
                                {% if player in chosen_players %}
                                <button onclick="add('{% url 'remove_player' position=player.position pk=player.id %}')" style="border-radius: 50%; margin:0px"
                                    class="btn float-right btn-danger">
                                    <center>
                                        <i class="fas fa-times"></i>
                                    </center>
                                </button>
                                {% else %}
                                <button onclick="add('{% url 'add_player' position=player.position pk=player.id %}')" style="border-radius: 50%; margin:0px"
                                    class="btn float-right btn-primary">
                                    <center>
                                        <i class="fas fa-plus"></i>
                                    </center>
                                </button>
                                {% endif %}
                            </h7><br/>
                            <h7 class="card-subtitle mb-2 text-muted">
                                <strong>{{ player.team.name }}</strong> vs. {{ player.team.matchup }}
                            </h7>
                        </div>
                    </div>
                </td>
        {% endfor %}
        </tr>
        <tr>
        {% for player in bottom_row %}
            <td>
                <div class="card text-left {% if budget < player.price and player not in chosen_players and current_price < player.price %}
                    border-danger{% endif %}" 
                    style="font-size: x-small; width: 16em; height:24em;">
                    <div class="card-img-caption">
                        <font size="1" class="card-text-right">{{ player.fpg }}
                            <br>FPG</font>
                        <font size="2" class="card-text-left">
                            <strong>&#x20B1 {{ player.price }}K</strong>
                            <br>
                        </font>
                        <img class="card-img-top" src="{{ player.photo.url }}" alt="Card image cap">
                    </div>
                    <div class="card-body" style="padding-left: 2%; padding-right: 2%;">
                        <h7 class="card-title" style="margin: 0px;">
                            {{ player.name }}
                             {% if player in chosen_players %}
                            <button onclick="add('{% url 'remove_player' position=player.position pk=player.id %}')" style="border-radius: 50%; margin:0px"
                                class="btn float-right btn-danger">
                                <center>
                                    <i class="fas fa-times"></i>
                                </center>
                            </button>
                            {% else %}
                            <button onclick="add('{% url 'add_player' position=player.position pk=player.id %}')" style="border-radius: 50%; margin:0px"
                                class="btn float-right btn-primary">
                                <center>
                                    <i class="fas fa-plus"></i>
                                </center>
                            </button>
                            {% endif %}
                        </h7><br/>
                        <h7 class="card-subtitle mb-2 text-muted">
                            <strong>{{ player.team.name }}</strong> vs. {{ player.team.matchup }}
                        </h7>
                    </div>
                </div>
            </td>
        {% endfor %}
        {% if need_extra %}
            <div class="text-center col-sm-6">
                <td>
                </td>
            </div>
        {% endif %}
        </tr>
    </table>
</div>

{% endblock %}

{% block ajax%}
<script type="text/javascript" src="{% static 'plugins/ajax-modal/ajax-modal.js' %}"></script>
<script type="text/javascript">
    function add(url) {
        $.ajax({
            type: "GET",
            url: url,
            success: function (result) {
                location.reload()
            },
            error: function (result) {
                alert('error');
            }
        });
    }
</script>
{% endblock %}
