{% extends 'base2.html'%} 
{% load staticfiles %} 
{% load widget_tweaks %} 

{% block content %}
    <div class="container-fluid" style="text-align: center">
        <h3 class="my-4 text-center">
            Results
        </h3>

        {% for brother in results %}
        <div class="row">
            <div class="col-1 text-center">
                <h5>
                {{ forloop.counter }}
                </h5>
            </div>
            <div class="col-9 text-left">
                <h5>
                    {% if brother.score == max_score %}
                    <img width="35em" class="img-responsive" src="{% static 'crown.png' %}" alt="">
                    {% endif %}
                    &nbsp;&nbsp;{{ brother.user.username }}
                </h5>
            </div>
            <div class="col-2 text-center">
                <h5>
                    {{ brother.score|floatformat:2 }}
                </h5>
            </div>
        </div>
        <div class="row" style="margin-left: 1%; margin-right: 1%;">
            <!-- <div class="col col-lg-2">
            </div> -->
            {% for player in brother.players.all %}
                <div class="col-2 col-xs-2 text-center" style="font-size: x-small">
                <img width="30em" class="rounded-circle" 
                src="{{ player.photo.url }}" alt="">
                <br>
                {{ player.name }}<br>
                    <strong>{{ player.fantasy_score|floatformat:2 }}</strong>
                </div>
            {% endfor %}
            <!-- <div class="col-3">
            </div> -->
        </div>
        {% endfor %}
{% endblock %}
