{% extends 'base2.html' %} 
{% block content %}
<div class="container text-center my-4" style="padding-top: 80px;">
    <div class="row">
        <div class="col-6 col-xs-6"><strong>1 Point</strong></div>
        <div class="col-6 col-xs-6 text-center"><strong><strong>1</strong> pt.</strong></div>
    </div>
    <div class="row">
        <div class="col-6 col-xs-6"><strong>1 Assist</strong></div>
        <div class="col-6 col-xs-6 text-center"><strong>1.5 pts.</strong></div>
    </div>
    <div class="row">
        <div class="col-6 col-xs-6"><strong>1 Rebound</strong></div>
        <div class="col-6 col-xs-6 text-center"><strong>1.2 pts.</strong></div>
    </div>
    <div class="row">
        <div class="col-6 col-xs-6"><strong>1 Steal</strong></div>
        <div class="col-6 col-xs-6 text-center"><strong>2 pts.</strong></div>
    </div>
    <div class="row">
        <div class="col-6 col-xs-6"><strong>1 Block</strong></div>
        <div class="col-6 col-xs-6 text-center"><strong>2 pts.</strong></div>
    </div>
    <div class="row">
        <div class="col-6 col-xs-6"><strong>Turnovers</strong></div>
        <div class="col-6 col-xs-6 text-center"><strong>no deductions</strong></div>
    </div>
</div>
{% endblock %}
