<!DOCTYPE html>
{% load staticfiles %}
{% load widget_tweaks %}
<html lang="en">

  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate, max-stale=0, post-check=0, pre-check=0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta http-equiv="Vary" content="*" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
      crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
      crossorigin="anonymous"></script>


    <title>DDR Fantasy</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static '/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
  </head>
    <style>
      .navbar-collapse.collapse.in {
        display: block!important;
      }
    </style>
  <body style="padding: 45px 0 0 0;">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #1B2036;">
      <div class="container">
        <a class="navbar-brand" href="/"><img class="d-inline-block align-top" height="40" src="{{ MEDIA_URL }}system/ddr_8_logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fas fa-bars" style="color: white;"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="ml-auto navbar-nav">
            <li class="nav-item">
              <a class="nav-link" style="color: white;" href="{% url 'list-of-players' position='C' %}">Draft</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" href="/nav/rules">Point System</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" href="/accounts/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  
    <div class="container" style="padding-top: 5px;">
      <h2 class="my-4 text-center">
        <small>Draft your players</small>
        <div style="margin-right:8%; margin-left:8%; margin-bottom:0%;">
        <div class="table-responsive">
          <table class="table">
              <div class="row center-block">
                <td>
                  <a href="{% url 'list-of-players' position='PG' %}">
                  <img height="{{ size_pg }}" width="{{ size_pg }}" class="img-fluid d-block mx-auto" src="{{ pg.photo.url }}" alt="">
                  </a>
                  <!-- <font size=1>{{ pg.name }}</font><br> -->
                  <font size=2>PG</font>
                </td>
                <td>
                  <a href="{% url 'list-of-players' position='SG' %}">
                  <img height="{{ size_sg }}" width="{{ size_sg }}" class="img-fluid d-block mx-auto" src="{{ sg.photo.url }}" alt=""> 
                  </a>
                  <!-- <font size=1>{{ sg.name }}</font><br> -->
                  <font size=2>SG</font>
                </td>
                <td>
                  <a href="{% url 'list-of-players' position='C' %}">
                  <img height="{{ size_c }}" width="{{ size_c }}" class="img-fluid d-block mx-auto" src="{{ c.photo.url }}" alt=""> 
                  </a>
                  <!-- <font size=1>{{ c.name }}</font><br> -->
                  <font size=2>C</font>
                </td>
                <td>
                  <a href="{% url 'list-of-players' position='PF' %}">
                  <img height="{{ size_pf }}" width="{{ size_pf }}" class="img-fluid d-block mx-auto" src="{{ pf.photo.url }}" alt="">
                  </a>
                  <!-- <font size=1>{{ pf.name }}</font><br> -->
                  <font size=2>PF</font>
                </td>
                <td>
                  <a href="{% url 'list-of-players' position='SF' %}">
                  <img height="{{ size_sf }}" width="{{ size_sf }}" class="img-fluid d-block mx-auto" src="{{ sf.photo.url }}" alt="">
                  </a>
                  <!-- <font size=1>{{ sf.name }}</font><br> -->
                  <font size=2>SF</font>
                </td>
            </div>
          </table>
        </div>
          <h4 class='text-center'>
            <font size="3"><strong>&#x20B1 {{ budget }}K</strong> REMAINING</font><br>
            <button onclick="submitButton()" type='submit' class='btn btn-success' {% if not is_submittable %}disabled{% endif %}
              style="margin-top:0%;">Submit Lineup</button>
          </h4>
        </div>
      </h2>
      
      {% block content %} 
      {% endblock %}

    </div>
    <script src="//code.jquery.com/jquery-2.2.3.min.js"></script>
    {% block ajax %} 
    {% endblock %}
    </body>
    <script type='text/javascript'>
      function submitButton() {
          $.ajax({
            type: "POST",
            url: "{% url 'submit' %}",
            data: {
              'process': 'OK'
            },
            success: function (result) {
              location.href = "{% url 'lineup' %}";
            },
            error: function (result) {
              alert('Error');
            }
          });
        }
    </script>
    <script type='text/javascript'>
      history.pushState(null, null, location.href);
        window.onpopstate = function () {
          history.go(1);
        };
    </script>
</html>
