{% extends 'base2.html' %}
{% block content %}
<div class="container" style="padding-top: 80px;">
<form class="form-horizontal" role="form" method="POST">{% csrf_token %}
    <div id="loginbox">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Sign-in</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Username</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="width: 2.6rem">
                                <i class="fa fa-user-circle"></i>
                            </div>
                        </div>
                        <input type="text" name="{{ form.username.html_name }}" class="form-control" id="{{ form.username.id_for_label }}" placeholder="username"
                            value="{% if form.username.value == None %} {% else %}{{ form.username.value }}{% endif %}" required
                            autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        <!-- Put name validation error messages here -->
                        {{ form.username.errors.as_text }}
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="width: 2.6rem">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <input type="password" name="{{ form.password.html_name }}" class="form-control" id="{{ form.password.id_for_label }}"
                            required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        <!-- Put e-mail validation error messages here -->
                        {{ form.password.errors.as_text }}
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="float-right btn btn-outline-primary">
                    <i class="fa fa-sign-in-alt"></i> Sign in</button>
                <a href="{% url 'registration' %}">&nbsp;&nbsp;No account? Register.</a>
            </div>
        </div>

    </div>
</form>
</div>
{% endblock %}