{% extends 'base2.html' %}

{% block content %}

<div class="container" style="padding-top: 80px;">
    <form class="form-horizontal" role="form" method="POST" id="signupForm">
        {% csrf_token %}
    <div id="signup">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Sign Up</h2>
                <hr>
            </div>
        </div>
            
        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">First Name</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="width: 2.6rem"><i class="fa fa-user-circle"></i></div>
                        </div>
                        <input type="text" name="{{ form.first_name.html_name }}" class="form-control" id="{{ form.first_name.id_for_label }}"
                            placeholder="First Name" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                            {{ form.first_name.errors.as_text }}
                        </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Last Name</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="width: 2.6rem"><i class="fa fa-user-circle"></i></div>
                        </div>
                        <input type="text" name="{{ form.last_name.html_name }}" class="form-control" id="{{ form.last_name.id_for_label }}"
                            placeholder="Last Name" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put name validation error messages here -->
                            {{ form.last_name.errors.as_text }}
                        </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Username</label>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="width: 2.6rem"><i class="fa fa-user-secret"></i></div>
                        </div>
                        <input type="text" name="{{ form.username.html_name }}" class="form-control" id="{{ form.username.id_for_label }}"
                            placeholder="(alphanumeric+batch) e.g. 'Jake1939', 'Peralta1939A'" required autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            {{ form.username.errors.as_text }}
                        </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        </div>
                        <input type="password" name="{{ form.password.html_name }}" class="form-control" id="{{ form.password.id_for_label }}"
                            placeholder="Password" required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        {{ form.password.errors.as_text }}
                    </span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3 field-label-responsive">
                <label for="email">Security key</label>
            </div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-prepend">
                            <div class="input-group-text" style="width: 2.6rem">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <input type="email" name="{{ form.email.html_name }}" class="form-control" id="{{ form.email.id_for_label }}" placeholder=""
                            required>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        {{ form.email.errors.as_text }}
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" id="registerButton"><i class="fa fa-user-plus"></i> Register</button>
                <a href="{% url 'login' %}">&nbsp;&nbsp;Already have an account? Sign in.</a>
            </div>
        </div>
    </div>

    </form>
</div>
    {% endblock %}
